* {
  font-family: "Allan", cursive !important;
}

label {
  color: #fff;
  text-align: left;
}

#whyus {
  margin-top: 120px;
}

.about-image {
  width: 100%;
}

.input-form {
  width: 100%;
}

.nav-logo {
  color: #194187;
  margin: 8px;
  font-size: 40px;
}

.nav-elem {
  font-size: 30px !important;
}

.logo-div {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  height: 100vh;
}

.hero-image {
  width: 100%;
}

.hero-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text {
  margin-top: 20px;
  padding-right: 150px;
}

.about-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #f5f5f5 !important;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}

.service-img {
  width: 100%;
}

.service {
  margin-top: 20px;
  padding: 0;
}

.first-service {
  margin-top: 0;
  padding: 0;
}

.icon {
  height: 200px;
}

.inner-icon {
  height: 20px;
}

.section {
  margin-top: 30px;
}

@media (max-width: 576px) {
  .hero-div,
  .hero,
  .align-right,
  .align-left,
  .align-justify {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-text {
    padding-right: 0px;
  }

  .hero,
  #whyus {
    margin-top: 20px;
  }

  .hero-image {
    margin-top: 30px;
    width: 60%;
  }
}

@media (max-width: 990px) {
  .service-img {
    margin-top: 30px;
  }

  .hero {
    margin-top: 0;
    height: 80%;
  }

  .hero-image {
    padding-top: 50px;
    width: 60%;
  }

  .hero-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
